@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";
@import '../js/materialize-css/bin/materialize.css'
/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition: all 1s ease;
}


/**
 * GRIDS
 */

.grid {
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@define-mixin gridify $col,
$width,
$gutter: 2 {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                width: calc((100 / $col) - $gutter)%;
            }
            @mixin-content;
        }
    }
}

@mixin gridify 2,
400 {}

@mixin gridify 4,
600 {}


/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}


/**
 * GENERAL
 */

img {
    max-width: 100%;
}


/**
 * YOUR CODE HERE
 */

.loginLogo {
    font-weight: 300;
    color: white;
    display: block;
    text-align: center;
}

.loginCard {
    width: 100%;
    padding: 1rem;
}

.homeCard {
    width: 100%;
}

.listing::after {
    content: attr(data-date);
    background: red;
    height: 3rem;
    width: 3rem;
    line-height: 3;
    border-radius: 50%;
    position: absolute;
    right: 95%;
    top: -5%;
}

.card {
    overflow: initial;
}

body {
    background: #00838F;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    position: relative;
    margin-top: 6rem;
    transition: background 2s ease;
    .card {
        background: rgb(66, 199, 218);
        display: flex;
        margin: auto;
        flex-direction: column;
        padding: 1rem;
        .flexcont {
            flex-grow: 1;
            flex-basis: 50%;
        }
        .wineSelection {
            color: white;
            border: 1px solid black;
            width: 70%;
            height: 40%;
            font-size: 3rem;
            & div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        span {
            flex-grow: 0;
        }
    }
}

.attrScreen {
    margin-top: 30vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    & > div {
        margin-top: 1.5rem;
    }
    .Prompt {
        display: block;
        flex-grow: 1;
        font-size: 2rem;
        font-weight: 700;
        color: white;
        position: relative;
        text-align: center;
    }
    .options {
        font-size: 2rem;
        height: 100%;
        display: flex;
        position: relative;
        flex-grow: 3;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}

.option {
    border: 2px solid #78909C;
    min-width: 30%;
    min-height: 25%;
    position: relative;
    vertical-align: middle;
    color: white;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: 0.5s;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    &.selected {
        border: 5px solid rgba(0, 160, 80, 0);
        color: #FFF;
        &.prominent {
            background-color: #00BCD4;
        }
    }
    &.selected:after,
    &.selected:before {
        transform: scale(1);
    }
}

.option::before,
.option::after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transform: scale(0);
    transition: 0.5s;
}

.option::before {
    border-bottom: 3px solid #FFF;
    border-left: 3px solid #FFF;
    transform-origin: 50% 50%;
}

.option::after {
    border-top: 3px solid #FFF;
    border-right: 3px solid #FFF;
    transform-origin: 50% 50%;
}

.wineLog {
    display: flex;
    flex-wrap: wrap;
    .wine {
        flex-grow: 1;
    }
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.soft {
    opacity: 0.4;
}

.hard {
    opacity: 1;
}

.hidden {
    display: none;
}

.example {
    margin-top: 3rem;
    position: fixed;
    display: flex;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
}

.wineSelection {
    min-height: 300px;
}

.wineColor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35%;
    width: 35%;
    background-color: #26C6DA;
    box-shadow: 5px 2.5px 2.5px black;
    display: flex;
    flex-direction: column;

}

@media (min-width: 600px) {
    .home {
        max-width: 75%;
        margin: auto;
    }
    .wineSelection {
        font-size: 3rem;
        max-width: 50%;
    }
    .loginCard {
        width: 35%;
        padding: 3rem;
    }
    .homeCard {
        width: 75%;
        margin: auto;
    }
    .regCard {
        width: 50%;
    }
    .listing {
        max-width: 40%;
        margin-bottom: 1rem;
        max-height: 20%;
    }
}
